.btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color 0.3s ease;
  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: white, $amount: 10);
  }
}

.btn-primary {
  background-color: $primary;
  border-radius: 2px;

  &:disabled {
    background-color: lighten($color: $primary, $amount: 15);
  }

  &:hover {
    background-color: darken($color: $primary, $amount: 15);
  }
}

.btn-block {
  width: 100%;
}

.google-btn {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

  transition: box-shadow 0.3s ease;

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 40px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

.btn_home {
  background-color: #f07;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 7px 10px 7px 10px;
  height: 60px;
  border-radius: 4px;
  width: 290px;
  font-weight: 800;

  transition: color 0.3s ease;
  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0px 3px 12px rgba(255, 21, 134, 0.3);
    color: darken($color: white, $amount: 10);
  }
}
.btn_home-outline {
  background-color: white;
  border: 2px solid #f07;
  box-sizing: border-box;
  color: #f07;
  cursor: pointer;
  font-size: 17px;
  padding: 14px 28px;
  height: 51px;
  border-radius: 6px;
  max-height: 51px;
  min-width: 153px;
  // font-weight: 800;

  transition: color 0.3s ease;
  &:focus {
    outline: none;
  }

  &:hover {
    // color: darken($color: white, $amount: 10);
    background-color: darken($color: white, $amount: 10);
    // color: white;
  }
}

.btn_review {
  background-color: #f07;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 10px 7px 10px;
  height: 60px;
  border-radius: 4px;
  width: 500px;
  font-weight: 800;
  margin: 10px;

  transition: color 0.3s ease;
  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0px 3px 12px rgba(255, 21, 134, 0.3);
    color: darken($color: white, $amount: 10);
  }
}

.btn_edit {
  background-color: #f07;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 10px 7px 10px;
  height: 60px;
  border-radius: 4px;
  width: 500px;
  font-weight: 800;
  margin: 10px;

  transition: color 0.3s ease;
  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0px 3px 12px rgba(255, 21, 134, 0.3);
    color: darken($color: white, $amount: 10);
  }
}
.btn_view {
  background-color: #f07;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 10px 7px 10px;
  height: 60px;
  border-radius: 4px;
  width: 500px;
  font-weight: 800;
  margin: 10px;

  transition: color 0.3s ease;
  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0px 3px 12px rgba(255, 21, 134, 0.3);
    color: darken($color: white, $amount: 10);
  }
}

.btn_checkout-paper {
  background-color: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  font-size: 20px;
  // padding: 7px 10px 7px 10px;
  height: 128px;
  border-radius: 4px;
  width: 128px;
  // font-weight: 800;
  // margin: 10px;
  transition: color 0.3s ease;
  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0px 3px 12px rgba(255, 21, 134, 0.3);
    color: darken($color: white, $amount: 10);
  }
}
