body {
    // display: flex;
    // flex-direction:unset;
    margin: 0;
    padding: 0;
   }
.home__division{
     // if the breakpoint is less than or equal to 1024px
    @include media("<=tablet") {
        // padding: 20px;
        display:  block;
    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
        display: flex;
    }


}
.pages {
    color: #316685;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 10%;
  }

.home__left-screen{
    // background-color: $primary;
    background-color: white;

    // if the breakpoint is less than or equal to 1024px
    @include media("<=tablet") {
   
        height: 50vh;
        width: 100%;
        position: relative;
        bottom: -60vh;
    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
        height: 85vh;
        width: 50%;
    }
    height: 85vh;
    width: 50%;
}

.home__right-screen{
    background-color: white;

    // if the breakpoint is less than or equal to 1024px
    @include media("<=tablet") {
        height: 50vh;
        width: 100%;
        position: relative;
        top:-60vh;
        h3{
            display: none;
        }
        button{
            display: none;
        }
   
    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 85vh;
        width: 50%;
    }
    height: 85vh;
    width: 50%;

}

.home__center-item{
 
    // if the breakpoint is less than or equal to 1024px
    @include media("<=tablet") {

    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
        align-items: center;
        height: 85vh;
        display: flex;
        justify-content: center;
        .home_btn{
            // background-color: $primary;
            width: 30%;
            height: 5%;
            font-size: 20px;

        }
    }
}

.home__center-item-logo12{
 
    // if the breakpoint is less than or equal to 1024px
    @include media("<=tablet") {
        // padding-top: 20px;
        display: flex;
        justify-content: center;
        // justify-content: center;
    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
        align-items: center;
        height: 85vh;
        display: flex;
        justify-content: center;
    }
}
.home__float-div {
    @include media("<=tablet") {
        background-color: white;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        position: -webkit-sticky;  // required for Safari
        position: fixed;
        bottom: 0; // required as well
        width: 100%;
        height: 80px;
    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
    display: none;
    }
}
.test-btn{
    @include media("<=tablet") {
    
    background-color:#f07;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 7px 10px 7px 10px;
    height: 60px;
    border-radius: 4px;
    width: 70%;
    font-weight: 800;


    transition: color .3s ease;
    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 0px 3px 12px rgba(255, 21, 134, 0.30);
        color: darken($color: white, $amount: 10);
    }
     
    }
    
}

.home__center-item-logo3{
    align-items: center;
    height: 50vh;
    display:grid;
    justify-content: center;
    .home_btn{
        // background-color: $primary;
        width: 30%;
        height: 5%;
        font-size: 20px;

    }
}



.home_left-paragraph{
    @include media("<=tablet") {
        display: flex;
        justify-content: center;
        font-size: 42px;
        line-height: 62px;
        margin-top: 50px;
        padding: 20px;
    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
          // align-items: center;
    display: block;
    overflow: hidden;
    padding-right: 40%;
    font-family: ProximaNova, sans-serif;
    white-space: pre-line;
    h1{
        font-size: 62px;
        line-height: 62px;
        margin-bottom: -10px;
    }
    h3{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
    }
    }

}

.Logo1 {
    @include media("<=tablet") {
        width: 428px;
        height: 428px;
        border-radius: 6px;
    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
        width: 228px;
        height: 228px;
        border-radius: 6px;
    }
    width: 228px;
    height: 228px;
    border-radius: 6px;
}
.Logo2 {
    @include media("<=tablet") {
        display: none;
    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
        width: 228px;
        height: 228px;
        border-radius: 6px;
    }
    width: 228px;
    height: 228px;
    border-radius: 6px;
}
.Logo3 {
    @include media("<=tablet") {
        display: none;
    }
    // if the breakpoint is greater than 1024px and less than or equal to 1920px
    @include media(">tablet", "<=LGdesktop") {
        width: 228px;
        height: 228px;
        border-radius: 6px;
    }
    width: 228px;
    height: 228px;
    border-radius: 6px;
}

