.review__textfield-name{
    width: 500px;
    margin: 20px;
    
}
.MuiFormControl-root{
    // padding: 10px !important;
    margin: 10px !important;
}
.review__form{
    padding-top: 150px ;
    display: grid;
    justify-content: center;
    
}

